* {
    color: black;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;  
}

span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

#newDeck {
    justify-content: center;
    align-items: right;
    text-align: center;
}

button {
    float: right;
    width: 130px;
    font-size: .5em;
}

div {
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    flex-grow: 1;
}

section {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}


table {
    width: 100%;
    border-collapse: collapse;  /* Makes table borders collapse */
}

thead th {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

tbody td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

td img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
}

#names, #images {
    text-align: center;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: white;
    padding: 0.5em;
}

p {
    color: white;
    margin: 0;
}

a {
    color: white;
    margin: 0;
}