* {
    color: black;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column; 
}

h1 {
    display: flex;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    flex: 0 2em;
    text-decoration: underline;
}

.search {
    padding: 30px;
    border-bottom: solid black;
}

form {
    text-align: center;
    vertical-align: middle;
    padding-top: 100 px;
}

h2 {
    padding-top: 10px;
    text-align: center;
    text-decoration: underline solid black;
}

table {
    width: 100%;
    flex-direction: row;
}

tr {
    flex-direction: row;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

#combined {
    display: flex;
    flex-direction: row;
    flex: 0 10em;
}

#currPokemon {
    flex: .5;
    height: auto;
}

#stats {
    flex: .5;
}


#SubmitButton {
    text-align: center;
    vertical-align: middle;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: white;
    padding: 0.5em;
}

p {
    color: white;
    margin: 0;
}

a {
    color: white;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}