* {
    color: blue;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

h1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 3em;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    color: white;
    justify-content: center;
}

p {
    align-items: left;
}

a {
    align-items: right;
}